{% extends "hotels/base.html" %}
{% load static %}

{% block content %}
<!-- City input container -->
<section class="container">
    <form method="post" id="city_form">
        {% csrf_token %}
        <label for="city">Filter city:</label>
        <div>
            <input type="text" id="city" name="city" list="city_options" placeholder="Enter a city...">
            <datalist id="city_options">
                {% for city in city_names %}
                    <option>{{city}}</option>
                {% endfor %}
            </datalist>
            <input type="submit" id="submit_button" value="Search" />
        </div>
    </form>
</section>

<!-- Hotel results container -->
<section class="container results_container">
    {% if hotel_objects.count > 0 %}
        <p class="hotels_count_message">Number of results: <b>{{ hotel_objects.count }}</b></p>
        <ul class="hotels_list">
            {% for hotel_object in hotel_objects %}
                <li>
                    <!-- Render image or placeholder -->
                    {% if hotel_object.image %}
                        <img class="hotel_image" src="{{ hotel_object.image.url }}">
                    {% else %}
                        <img class="hotel_image" src="static/hotels/img/hotel_icon.png">
                    {% endif %}

                    <a href="hoteldetails/{{ hotel_object.uuid }}" class="hotel_name">{{ hotel_object.name }}</a>
                    <p class="hotel_city">{{ hotel_object.city.name }}</p>

                    <!-- Render description or placeholder -->
                    {% if hotel_object.description %}
                        <p class="hotel_description">{{ hotel_object.description }}</p>
                    {% else %}
                        <p class="hotel_description">No description filled in</p>
                    {% endif %}

                    <!-- Render price or placeholder -->
                    {% if hotel_object.price %}
                        <p class="hotel_price">€{{ hotel_object.price }}</p>
                    {% else %}
                        <p class="hotel_price">€0.0</p>
                    {% endif %}

                    <div class="hotel_bottom_div">
                        {% if hotel_object.is_available %}
                            <p class="hotel_is_available hotel_available_true">Available</p>
                        {% else %}
                            <p class="hotel_is_available hotel_available_false">Not available</p>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no_hotels_found_message">No hotels found</p>
    {% endif %}
</section>
<script src="{% static 'hotels/js/javascript.js' %}"></script>
{% endblock %}
