* {
    padding: 0;
    margin: 0;
    font-family: ui-sans-serif,system-ui;
}

:root {
    --darkblue: #003B95;
    --lightblue: #eaf2ff;
    --lightblue_shadow: #cbdfff;
    --yellow: #ffcf35;
}

body {
    background-color: var(--darkblue);
    max-width: 800px;
    margin: auto;
    width: calc(100% - 40px);
    position: relative;
}

h1 {
    text-align: center;
    margin: 20px 0 40px;
    color: white;
    font-size: 2.25em;
}

h2, h3 {
    margin-bottom: 10px;
}

.hotel_header_icon {
    width: 60px;
    position: absolute;
    top: 0;
}

.hotel_header_icon_right {
    right: 0;
}

.container {
    background-color: var(--lightblue);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--lightblue_shadow);
    margin-bottom: 20px;
}

/* City search form styles */
#city_form div {
    display: flex;
    margin-top: 10px;
}

label {
    font-size: 1.2em;
    display: block;
    font-weight: bold;
}

input[type=text] {
    width: 100%;
    font-size: 1.2em;
    border-radius: 5px;
    border: 1px solid var(--darkblue);
    padding: 10px;
    margin-right: 20px;
    box-shadow: 0 0 0px 1000px white inset;
}

input[type=submit] {
    background-color: var(--yellow);
    padding: 5px 10px;
    font-size: 1.2em;
    color: var(--darkblue);
    border-radius: 5px;
    border: 1px solid var(--darkblue);
}

.button {
    color: white;
    background-color: var(--darkblue);
    padding: 10px;
    margin-top: 10px;
    display: block;
    width: fit-content;
    float: right;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2em;
}

.hotels_list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
}

@media (max-width: 600px) {
    .hotels_list {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Hotel results styles */
.hotels_count_message {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hotels_list li {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--lightblue_shadow);
    text-align: center;
    height: fit-content;
}


.hotel_image {
    width: 100%;
    margin: 0 auto 10px;
    display: block;
    border-radius: 5px;
}

.hotels_list li .hotel_name, .hotels_list li .hotelroom_name {
    font-weight: bold;
    word-break: break-word;
    font-style: italic;
    padding-bottom: 10px;
    display: block;
    color: black;
    text-decoration: none;
}

.hotels_list li .hotel_name:hover {
    color: blue;
}

.hotels_list li .hotel_city {
    color: grey;
    font-style: italic;
    padding-bottom: 10px;
}

.hotel_description {
    margin-bottom: 20px;
}

.hotels_list li .hotel_bottom_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hotels_list li .hotel_is_available {
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

.hotels_list li .hotel_available_true {
    background-color: green;
}
.hotels_list li .hotel_available_false {
    background-color: red;
}

.hotels_list li .hotel_price {
    font-weight: bold;
    right: 20px;
    bottom: 20px;
}

.no_hotels_found_message {
    text-align: center;
    font-size: 1.2em;
}

/* Hotel details styles */
.highlights_list {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 20px 0;
}
.highlights_list li {
    display: flex;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--lightblue_shadow);
}

.highlights_list li .highlight_image {
    width: 20px;
    padding-right: 10px;
}

/* Reservation styles */

.reservation_form > label {
    margin: 15px 0 5px;
}

#id_hotel_room label {
    font-weight: normal;
    margin-top: 5px;
}

.reservation_form input[type='date'] {
    border: 1px solid var(--darkblue);
    border-radius: 5px;
    font-size: 1.2em;
    padding: 10px;
    width: 200px;
}

.reservation_info {
    margin: 5px 0;
}

.reservation_form input:not([type="submit"]):not([type="date"]):not([type="radio"]), .reservation_form select {
    display: block;
    width: calc(100% - 20px);
    font-size: 1.2em;
    padding: 10px;
    border: 1px solid var(--darkblue);
    border-radius: 5px;
    background-color: white;
}

.reservation_form select {
    width: 100%;
}

#button_submit_reservation_form {
    float: none;
    margin-top: 20px;
}
